/* style.css */

/* Umum */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  /* Warna teks default untuk background gelap */
  background: linear-gradient(to right, #4c2885, #240b40) !important;
  /* ... (gaya background gradient Anda) ... */
  position: relative;
  /* Agar pseudo-element bisa diposisikan relatif terhadap body */
}

/* style.css */

body {
  animation: gradientAnimation 10s ease infinite;
  /* Nama animasi, durasi, timing function, dan pengulangan */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body::before {
  /* Atau body::after */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: transparent;
  /* Latar belakang transparan agar tidak menutupi gradient */
}

#particles-js {
  position: absolute;
  /* Posisikan partikel secara absolut */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* style.css */

body {
  animation: gradientAnimation 10s ease infinite;
  /* Nama animasi, durasi, timing function, dan pengulangan */
  background-image: 
        linear-gradient(to right, #4c2885, #240b40), /* Gradient */
        url('path/to/particles.png');
  /* Ganti dengan path gambar partikel Anda */
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* style.css */

.background-element {
  animation: scaleAnimation 5s ease-in-out infinite alternate;
  /* Animasi perubahan skala */
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

#particles-js {
  position: absolute;
  /* Posisikan elemen secara absolut */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Tempatkan partikel di belakang elemen lain */
}

/* Header (Navbar) */

.navbar {
  --tw-bg-opacity: 0.8;
  /* Ubah menjadi transparan dengan opacity 80% */
}

.navbar-brand {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.nav-link {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.nav-link:hover {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

/* Hero Section */

.hero {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.hero h1 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-weight: 3rem;
  margin-left: 1rem;
  align-items: left;
  justify-content: left;
  text-align: left;
}


@media (min-width: 768px) {
  .hero h1 {
    font-size: 1.50rem;
    line-height: 1;
  }
}



.hero p  {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-style: italic;
}


@media (min-width: 768px) {
  .hero p {
    font-size: 1.50rem;
    line-height: 1.10rem;
  }
}


/* About Section */

.about {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-top: 4rem;
  padding-bottom: 4rem;
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
  /* Background putih untuk kontras */
}

.about h2 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.875rem;
  line-height: 1rem;
  font-weight: 700;
  text-wrap: balance;
}

.about p {
  margin-bottom: 0.1rem;
}

.about img {
  /* Gaya untuk gambar di bagian About */
  height: auto;
  width: 100%;
  border-radius: 1.5rem;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 768px) {
  .about img {
    width: 50%;
    margin-left: 17rem;
  }
}

.about img {
  /* Setengah lebar pada layar medium ke atas */
  align-items: center;
  justify-items: center;
  image-rendering: optimizeQuality;
  /* Margin kiri dan kanan otomatis */
}

/* Projects Section */

.projects {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  padding-top: 4rem;
  padding-bottom: 4rem;
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
  /* Background abu-abu terang */
}

.projects h2 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.projects .project-card {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  overflow: hidden;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .project-card:hover {
  --tw-translate-y: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.projects img {
  align-items: center;
  justify-items: center;
  image-rendering: optimizeQuality;
  width: 100%;
  border-radius: 1.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width:768px){
  .projects img {
    margin-left: 17rem;
    width: 50%;
  }
}

.projects h3 {
  /* Gaya untuk judul proyek */
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.projects p {
  /* Gaya untuk deskripsi proyek */
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

/* Contact Section */

.contact {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-top: 4rem;
  padding-bottom: 4rem;
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
  /* Background putih */
}

.contact h2 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.contact form input,
.contact form textarea {
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.contact form button[type="submit"] {
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.contact form button[type="submit"]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity));
}

/* Footer */

footer {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  background-size: 2;
}

footer p {
  text-align: left;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  /* Mengatur teks agar berada di kiri */
}
